body {
    font-family: 'Sono', sans-serif;
  }

  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    
  }

  .pricing-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    gap: 2rem;
  }
.pricing-plan{
    flex: 1;
    background-image: linear-gradient(to bottom, rgba(143, 139, 139, 0), rgb(126, 77, 21));;
    border-radius: 50px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.plan-title{
    font-weight: bolder;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
}

.plan-price {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.plan-features{
    margin: 0;
    padding: 0;
    list-style: none;    
}

.plan-features li{
    margin-bottom: 20px;
}

.plan-button{
    background-color: rgb(206, 198, 129);
    color: rgb(68, 64, 64);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

@media (max-width: 1250px) {
    .pricing-container{
        flex-direction: column;
        height: 100%;
    }
}


